header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  background-color: white;
  background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
}

#message {
	height:400px;
	width: 800px;
	background-color: rgba(0,0,0,.4);
}

#title{
	font-size:20px;
	font-family: broadway;
}

#messageh1 {
	font-family: broadway;
}



.typetext {
	background-color: rgba(0,0,0,.4);
	height:25px;
	width:200px;
}

.heading {
	font-size: 25px;
	font-family: broadway;
}

.aboutyourorder {
	font-family: broadway;
	text-align:center;
}

.box{
	background-color: rgba(0,0,0,.4);
}

input{
	color:white;
}


.button {
	text-align:center;
}

.button input[type="submit"],
.button input[type="reset"]
 {
  background-color: black;
  color:white;
  height: 40px;
}
